<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.kslgrd.backup-vault.plist</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>3600</integer>

    <key>UserName</key>
    <string>keith</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/keith/.dotfiles/scripts/sync-repo</string>
      <string>-p</string>
      <string>/Users/keith/Vault</string>
    </array>

    <key>StandardOutPath</key>
    <string>/Users/keith/Library/Logs/Dotfiles/backup-vault.output.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/keith/Library/Logs/Dotfiles/backup-vault.error.log</string>

  </dict>
</plist>